extends ../layouts/index

block content
    div
        div.bg-white.pb-8.px-4.pt-1
            h1.text-5xl.my-10.font-extrabold.text-center.text-indigo-500 Real
                span.font-normal.text-black State

        div.mt-8.mx-auto.max-w-md
            div.bg-white.pb-8.px-4.pt-1.shadow
                h2.text-center.text-4xl.font-extrabold=page
                form.space-y-4.flex.flex-col.align-center
                    div.flex.flex-col.align-center
                        label.block.text-sm.uppercase.text-gray-600.mb-2.font-bold(for="email") Email
                        input#email(class=" py-2 border border-gray-300")(type="email" name="email")

                    div.flex.items-center.justify-between 
                        a.text-gray-400.text-sm.no-underline(href="/auth/register" ) You dont have an account? Register
                        a.text-gray-400.text-sm.no-underline(href="/auth/login") Login

                    input(class="w-full p-3 my-4 bg-indigo-500 text-white font-bold cursor-pointer border-none" type="submit" value="Send Information")